<app-hero [title]="'privacyPolicy.hero.title' | translate" [subtitle]="'privacyPolicy.hero.subtitle' | translate"></app-hero>

<div class="policy-container">
  <h1 class="policy-title">{{ 'privacyPolicy.title' | translate }}</h1>
  <div class="policy-content">
    <p>{{ 'privacyPolicy.updated' | translate }}</p>
    
    <p>{{ 'privacyPolicy.intro' | translate }}</p>
    
    <h3>{{ ('privacyPolicy.sections' | translate)[0].title }}</h3>
    <p>{{ ('privacyPolicy.sections' | translate)[0].desc }}</p>

    <h3>{{ ('privacyPolicy.sections' | translate)[1].title }}</h3>
    <p>{{ ('privacyPolicy.sections' | translate)[1].desc }}</p>

    <h3>{{ ('privacyPolicy.sections' | translate)[2].title }}</h3>
    <p>{{ ('privacyPolicy.sections' | translate)[2].desc }}</p>

    <h3>{{ ('privacyPolicy.sections' | translate)[3].title }}</h3>
    <p>{{ ('privacyPolicy.sections' | translate)[3].desc }}</p>

    <h3>{{ ('privacyPolicy.sections' | translate)[4].title }}</h3>
    <p>{{ ('privacyPolicy.sections' | translate)[4].desc }} <strong>info&#64;nasdanismanlik.com</strong>.</p>
  </div>
</div>
