<div class="hero" [ngStyle]="bgImage ? {'background-image': 'url(' + bgImage + ')'} : {}">
  <div class="orb orb-1"></div>
  <div class="orb orb-2"></div>
  <div class="hero-overlay"></div>
  
  <div class="container hero-content">
    <h1 class="hero-title" *ngIf="title">{{ title }}</h1>
    <p class="hero-subtitle" *ngIf="subtitle">{{ subtitle }}</p>
  </div>
  
  <div class="hero-curve">
    <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V120H0V95.8C59.71,118.1,130.83,120.22,192,106.88,236.4,97.23,281.33,74.77,321.39,56.44Z"></path>
    </svg>
  </div>
</div>
