<IfModule mod_rewrite.c>
  RewriteEngine On

  # 1. HTTP'den HTTPS'ye (Güvenli Bağlantıya) Zorunlu Yönlendirme
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # 2. Angular Sayfa Yönlendirmeleri (Yenileme yapınca 404 vermemesi için)
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]
  RewriteRule ^ index.html [L]
</IfModule>
